/* General styles */

a,
button {
  transition: 0.3s all;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Homepage Styles */

.slider .slide {
  width: 100vw;
  height: 35vw;
  background-position: center;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
